* {
    font-family: 'Times New Roman', Times, serif;
    color:#f4f4f4;
}


header{
  position: fixed;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #f4f3ef;
  background-color: black;
  animation-name: drag;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;

}
@keyframes drag {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(1000px);
  }
}
h1{
    margin-bottom: 10pt;
    margin-top: 0%;
    font-size: 7em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: 200;
    background-color: #000000b6;
    color: #f4f4f4

}
p{
    margin-bottom: 20pt;
    margin-top: 0%;
}
h2{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 700;
    margin-top: 0px;
    font-size: 14pt;
    margin-bottom: 0%;
   color: #f7fcf7;
   
}
li:hover {
  font-weight: bold;
}
ul{
    margin-top: 0px;
}
.profile-image {
  margin-top: 5%;
  margin-right: 50px;
  float: right;
  max-width: 150%;
  animation-name: profileani;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
 
  footer{
    margin-bottom: 0%;
    margin-top: 40%;
  }
button{
  color: black;
}

@keyframes profileani {
  from {
opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}